#cabecera_web{
	background-color: cornflowerblue;
	text-align: center;
}

#barra_nav{
	background-color: cadetblue;
}

#contenido_principal{
	background-color: blueviolet;
	margin-left: 205px;
	padding-left: 15px;
	padding-top: 1px;
}

#barra_lateral{
	background-color: aquamarine;
	float: left;
	height: 1020px;
}
#pie_principal{
	background-color: yellowgreen;
	margin-top: 20px;
}

li{
	background-color: chartreuse;
	display: inline;
}